mixin dualRangeInput(options) 
  - const {min, max, valueMin, valueMax} = options || {};
  - const max1 = max - 1; 
  .wrapper
    .range-slider
      .range-labels 
        span.range-label.range-label-start 0
        span.range-label.range-label-end 100
      input.range-slider__input(type="range", value=valueMin, max=max1)
      input.range-slider__input(type="range", value=valueMax, max=max)
      .track-wrapper
        .track 
        .range-between 
        .thumb.left 
        .thumb.right

    