include ../../../ui/form/form.pug
include ../../../ui/calendar_picker/calendar_picker.pug
include ../../../ui/inputs/dropdown/dropdown.pug
include ../../../ui/buttons/buttons.pug

div.headline
  +form('Найдём номера под ваши пожелания')(class="search-form")
    +calendar-picker()
    +dropdown('Гости', 'Сколько гостей')
    +filledButton('Подобрать номер', './rooms.html')(class="search-form__submit")

  p.headline__text Лучшие номера для вашей работы, отдыха и просто вдохновения
