include ../buttons/buttons.pug
include ../nav_link/nav_link.pug

mixin appHeader(headerOptions={"userName": null, "logo": "assets/svg/logo.svg", "moreIcon": "assets/svg/expand_more.svg"}) 
  div.header__wrapper
    header.header
      img(class="header__logo", src=require("../../assets/svg/logo.svg"), alt="toxin-logo") 
      //- img(class="header__logo", src="assets/svg/logo.svg", alt="toxin-logo") 
      nav.header__nav
        ul.nav-list
          +navLink('О нас')(class="nav-list__link")
          +navLink('Услуги', true)(class="nav-list__link")
          +navLink('Вакансии')(class="nav-list__link")
          +navLink('Новости')(class="nav-list__link")
          +navLink('Соглашения', true)(class="nav-list__link")
        if headerOptions.userName 
          .header__user
            span.header__user-name= headerOptions.userName
        else          
          .header__auth-options
            +outlinedButton('Войти', './login.html')(class="header__login-button")
            +filledButton('Зарегистрироваться')(class="header__signUp-button")
        img(class="nav-list__icon-burger", src=require("../../assets/svg/burger.svg"), alt="menu")
        