@import "../../../../common/variables.scss";

.roomInfo {
  display: flex;
  flex-direction: column;
  width: 291px;
  max-width: 291px;
  h3 {
    font-size: 19px;
  }
  &__list {
  }
  &__list-item {
    cursor: default;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    padding: 20px 0 ;
    border: 1px solid $color-black-5;
    border-width: 0 0 1px 0;
  }
  .roomInfo__img-wrapper {
    width: 48px;
    height: 48px;
    padding: 5px;
  }
  &__item-column {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  &__item-title {
    font-size: 14px;
    font-weight: bold;
    color: $color-black-75;
    line-height: 24px;
  }
  &__item-text {
    text-transform: none;
    font-size: 14px;
    color: $color-black-75;
    line-height: 24px;
  }
}
