
mixin roomHeadline()
  .room-headline 
    .room-headline__main-photo
      img(src=require('../../assets/img/roomDetails/1.jpg'), alt='room photo')
    .room-headline__column 
      .room-headline__secondary-photo
        img(src=require('../../assets/img/roomDetails/2.jpg'), alt='room photo')
      .room-headline__secondary-photo
        img(src=require('../../assets/img/roomDetails/3.jpg'), alt='room photo')
