@import "../../../../common/variables.scss";
@import "../../../../common/mediaqueries.scss";
@import "../../../../ui/calendar_picker/calendar_picker.scss";

.offerForm {
  display: flex;
  flex-direction: column;
  padding: 44px 30px 30px 30px;
  box-shadow: 0 0 25px 0 $color-black-25;
  border-radius: $radius;
  width: 380px;
  height: 512px;
  margin-left: 30px;
  &__top-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 22px;
  }
  &__row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 14px;
  }
  &__date {
    margin-bottom: 0;
  }
  &__number-status {
    display: flex;
    align-items: flex-end;
  }
  &__number-status > span {
    font-size: 14px;
    font-weight: bold;
  }
  &__number {
    font-size: 24px;
    margin-left: 5px;
    margin-right: 8px;
    line-height: 24px;
  }
  &__number-status > &__status {
    font-size: 12px;
    font-weight: bold;
    color: $color-primary;
    text-transform: uppercase;
  }
  &__price-value {
    font-size: 14px;
    font-weight: bold;
    color: $color-black-50;
    margin-right: 4px;
  }
  &__price-for {
    font-size: 12px;
    font-weight: normal;
    color: $color-black-50;
  }
  &__guests {
    margin: 14px 0 18px 0;
  }
  &__row-text {
    font-size: 14px;
    color: $color-black-75;
    font-weight: normal;
    line-height: 18px;
    margin-top: 2px;
  }
  &__row-text-wrapper {
    width: 239px;
    display: flex;
    align-items: start;
  }
  &__row-text-wrapper>img {
    margin-left: 5px;
    // margin-top: 2px;
  }
  &__total {
    font-size: 19px;
    text-transform: capitalize;
  }
  &__dotted-line {
    // width: 100%;
    flex-grow: 3;
    border: 1px dotted $color-black-25;
    border-width: 0 0 1px 0;
    margin-bottom: 5px;
    margin-left: 4px;
  }
  &__submit {
    // margin-top: 8px;
  }
}

.total {
  margin-top: 16px;
  margin-bottom: 20px;
}

@include mobileXS {
  .offerForm {
    margin-left: 0;
    max-width: 320px;
    padding: 24px 16px 16px 16px;
  }
}