@import '../../common/variables.scss';
.room-card {
  filter: $drop-shadow;
  border-radius: $radius;
  width: 270px;
  min-width: 270px;
  max-width: calc(50% - 20px);
  flex-grow: 2;
  // height: 257px;
  background-color: #fff;
  margin-left: 12px;
  margin-bottom: 20px;

  &__carousel {
    border-radius: $radius $radius 0 0;
  }
  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  &__info-row {
    display: flex;
    justify-content: space-between;
  }
  &__info-item {
    display: flex;
    align-items: flex-end;
  }
  &__room-number {
    font-size: 14px;
    font-weight: bold;
  }
  &__room-number-value {
    font-size: 19px;
    font-weight: bold;
  }
  &__isLux {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-purple;
    margin-left: 8px;
    line-height: 19px;
  }
  &__info-price {
    font-size: 14px;
    font-weight: bold;
    color: $color-black-50;
  }
  &__info-determination {
    font-size: 12px;
    text-transform: lowercase;
    color: $color-black-50;
    margin-left: 6px;
  }
  &__info-devider {
    border: 1px solid $color-black-25;
    border-width: 1px 0 0 0;
    margin: 10px 0;
  }
  &__recalls-value {
    font-size: 14px;
    font-weight: bold;
    color: $color-black-50;
  }
  &__recalls-text {
    font-size: 14px;
    color: $color-black-50;
    margin-left: 6px;
  }
}
