include ../carousel/carousel.pug

mixin roomCard(options)
  //- - const {img} = options || {};
  .room-card
    +carousel()(class="room-card__carousel")
    .room-card__info 
      .room-card__info-top
        .room-card__info-base
        .room-card__info-price
      .room-card__info-bottom
        .room-card__info-rating
        .room-card__recalls 