include ../../ui/header/header.pug
include ../../ui/footer/footer.pug
include ../../ui/form/form.pug
include ../../ui/inputs/textInput/textInput.pug
include ./components/loginForm/loginForm.pug
include ./components/signUpForm/signUpForm.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Toxin
  body
    +appHeader({"userName": null, "logo": "../../assets/svg/logo.svg", "moreIcon": "../../assets/svg/expand_more.svg"})
    main.authMain
      +loginForm()(class="auth-loginForm")
      +signUpForm()(class="auth-signUpForm hide")
    +appFooter("../../assets/svg/logo.svg")
