include ../../ui/layouts/appPageLayout.pug
include ../../ui/header/header.pug
include ../../ui/footer/footer.pug
include ../../ui/form/form.pug
include ../../ui/inputs/textInput/textInput.pug
include ./components/loginForm/loginForm.pug
include ./components/signUpForm/signUpForm.pug

+appPageLayout 
    main.authMain
      +loginForm()(class="auth-loginForm")
      +signUpForm()(class="auth-signUpForm hide")

