@import '../../common/variables.scss';

button {
  font-family: Montserrat;
  padding: 14px 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 22px;
  font-size: 12px;
  border: none;
  background: none;
  cursor: pointer;
}
.outlined-button, .filled-button{
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 28px;
  padding: 14px 20px;
  font-size: 12px;
  cursor: pointer;
}
.outlined-button {
  display: inline-block;
  color: $color-primary;
  border-width: 2px;
  border-style: solid;
  background-image: $primary-gradient;
  background-clip: content-box;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
.filled-button {
  color: $color-white;
  background-image: $primary-gradient;
  // max-height: 34px;
  transition: all 0.4s ease-in;
}
.filled-button:hover {
  background-image: $secondary-gradient;
}
.outlined-button:hover {
  background-image: $secondary-gradient;
  background: transparent;
  color: $color-secondary;
}

.text-button {
  background: none;
  border: none;
  padding: 0;
  font-weight: bold;
  font-family: Montserrat;
  color: $color-purple;
  font-size: 12;
  text-transform: uppercase;
}
.text-button:hover {
  color: $color-black-50;
}
