@import '../../../ui/calendar_picker/calendar_picker.css';

.headline {
  background-image: url(../../../assets/img/image3.jpg);
  width: 100%;
  min-height: 720px;
  max-width: var(--app-width);
  height: 90rem;
  max-height: 900px;
  /* min-height: 360px; */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.headline__text {
  font-size: 14px;
  color: var(--color-black75);
  max-width: 297px;
  text-align: end;
  margin: 18px 13.4rem;
}
/* Form */
.search-form {
  width: 380px;
  min-width: 320px;
  margin-top: 110px;
  margin-left: 14rem;     
  align-self: flex-start;
  background-color: var(--color-white);
  padding: 40px 30px 30px 30px;
  border-radius: 4px;
}
.search-form__title {
  /* font-family: Montserrat; */
  font-size: 24px;
  margin-bottom: 20px;
}
.serch-form__input-wrapper {
  display: flex;
  flex-direction: column;
}