@import "../../../../common/variables.scss";
@import "../../../../common/mediaqueries.scss";
@import "../../../../ui/voiceChart/voiceChart.scss";

.impressions {
  margin-left: clamp(30px, 7rem, 70px);

  h3 {
    font-size: 19px;
    margin-bottom: 24px;
  }
  &__row {
    display: flex;
    align-items: end;
  }
  &__list {
    margin-left: 30px;
  }
  &__list-item {
    display: flex;
    align-items: center;
    cursor: default;
  }
  &__color {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
  &__text {
    font-size: 14px;
    color: $color-black-75;
    line-height: 24px;
    margin-left: 5px;
  }
  &__excellent {
    background: $excellent-gradient;
  }
  &__good {
    background: $secondary-gradient;
  }
  &__normal {
    background: $primary-gradient;
  }
  &__confused {
    background: $confused-gradient;
  }
}

@include mobileXS {
  .impressions {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    margin-left: 0;
    text-align: center;
    &__row {
      justify-content: center;
    }
  }
}
