@import "../common/variables.scss";
@import "../common/fonts.scss";
@import "./utils.scss";


html {
  font-size: calc(1vw / 14.4 * 9);
  font-family: 'Montserrat';
  color: $color-black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 1.9rem;
}
h3 {
  font-size: 12px;
}
ul {
  list-style: none;
  color: $color-black-50;
}
ul > li {
  text-transform: capitalize;
  font-size: 14px;
  color: $color-black-50;
  cursor: pointer;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 24px; 
  }
  h2 {
    font-size: 19px;
  }
}
