.logo {
  max-width: 106px;
}

.hide {
  display: none;
}
.contentWithLabel {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.label {
  font-size: 12px;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: bold;
}
