include ../../../../ui/feedback/feedback.pug
mixin reviews() 
  .reviews 
    .reviews__top 
      h3.reviews__title Отзывы посетителей номера
      .reviews__amount 2 отзыва
    +feedback({
      name: 'Мурад Сарафано', 
      timeAgo: '5 дней назад', 
      img: 'user_1', 
      likesAmount: 12, 
      text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
      })(class="reviews__feedback")
    +feedback({
      name: 'Патрисия Стёклышкова', 
      timeAgo: 'Неделю назад', 
      img: 'user_2', 
      likesAmount: 2, 
      text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'
      })(class="reviews__feedback")