.login-input__password {
  margin-top: 10px;
  margin-bottom: 20px;
}
.login-button__enter {
  width: 100%;
}
.signUp-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}