.text-input {
  display: flex;
  flex-direction: column;
}
.text-input__label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 6px;
}
.text-input__input {
  font-family: Montserrat;
  border: 1px solid var(--color-black-25);
  border-radius: 4px;
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  color: var(--color-black-75);
  outline: none;
}
.text-input__input:hover,
.text-input__input:focus {
  border-color: var(--color-black-50);
  color: var(--color-black-50);
}
