@import "../../../../ui/utils.scss";
@import "../../../../ui/dropdownInput/dropdownInput.scss";
@import "../../../../ui/inputs/inputs.scss";
@import "../rangePrice/rangePrice.scss";
@import "../houseRules/houseRules.scss";
@import "../accessList/accessList.scss";
@import "../additionalComfort/additionalComfort.scss";

.sidebar-rooms {
  margin-right: clamp(8px, 4.8rem, 48px);
  width: 266px;
  min-width: 266px;

  &__guests {
    margin-top: 20px;
  }
  &__rangePrice,
  &__houseRules,
  &__accessList,
  &__comfort, &__additional {
    margin-top: 30px;
  }

}
