include ../../../../ui/dropdownInput/dropdownInput.pug
include ../rangePrice/rangePrice.pug
include ../../../../ui/inputs/guestsSelect/guestsSelect.pug
include ../houseRules/houseRules.pug

mixin sidebarRooms()
  aside.sidebar-rooms 
    +dropdownInput({label: 'Даты пребывания в отеле', defaultValue: '19 авг - 23 авг', inputClass: 'rooms__living-dates'})
    +guestsSelect('3 гостя, 1 младенец')
    +rangePrice({min: 5000, max: 10000})(class="sidebar-rooms__rangePrice")
    +houseRules()(class="sidebar-rooms__houseRules")