@import '../../../../ui/dropdownInput/dropdownInput.scss';
@import '../../../../ui/inputs/inputs.scss';
@import '../rangePrice/rangePrice.scss';

.sidebar-rooms {
  margin-right: clamp(20px, 6rem, 60px);
  width: 266px;
  min-width: 266px;

  &__guests {
    margin-top: 20px;
   }
  &__rangePrice {
    margin-top: 30px;
  }
}