include ../../ui/layouts/appPageLayout.pug
include ../../ui/roomCard/roomCard.pug
include ../../ui/dualRangeInput/dualRangeInput.pug
include ./components/sidebarRooms/sidebarRooms.pug

- const rooms_data = [
-  {
-   number: 888,
-   isLux: true,
-   price: 9990,
-   rate: 5,
-   images: [
-     '888', '888', '888', '888'
-  ],
-    recallsAmount: 145
-  },
-  {
-    number: 840,
-    isLux: false,
-    price: 9900,
-    rate: 4,
-    images: [
-      '840', '840', '840', '840'
-    ],
-    recallsAmount: 65
-  },
-  {
-    number: 980,
-    isLux: true,
-    price: 8500,
-    rate: 3,
-    images: [
-      '980', '980', '980', '980'
-    ],
-    recallsAmount: 35
-  },
-]

+appPageLayout 
  main.rooms
    //- +dualRangeInput({min: 0, max: 150, valueMin: 0, valueMax: 150})
    +sidebarRooms()(class="rooms__sidebar")
    section.rooms__row
      each val, index in rooms_data 
        +roomCard(val)
      
