@import "../../../../ui/radioButton/radioButton.scss";
@import "../../../../ui/toggleButton/toggleButton.scss";

.signUp {
  h3 {
    margin: 10px 0 5px 0;
    text-transform: uppercase;
  }
}
.signUp__name,
.signUp__birthday,
.login-input__password {
  margin-bottom: 10px;
}
.signUp__birthday {
}
.signUp__sex-row {
  display: flex;
  padding: 10px 0;
}
.login-input__password {
  margin-bottom: 20px;
}
.login-button__enter {
  width: 100%;
}
.signIn-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
