include ../../ui/layouts/appPageLayout.pug
include ../../ui/header/header.pug
include ../../ui/footer/footer.pug
include ../../ui/voiceChart/voiceChart.pug

+appPageLayout 
    main.roomDetails
      +voiceChart()