include ../../ui/layouts/appPageLayout.pug
include ../../ui/header/header.pug
include ../../ui/footer/footer.pug
include ../../ui/voiceChart/voiceChart.pug
include ./components/roomHeadline/roomHeadline.pug
include ./components/roomInfo/roomInfo.pug
include ./components/roomImpressions/roomImpressions.pug
include ./components/offerForm/offerForm.pug

+appPageLayout 
  main.roomDetails
    +roomHeadline()
    .roomDetails__content 
      .roomDetails__content-row
        +roomInfo()
        +roomImpressions()
      +offerForm()