@import "../../ui/index.scss";
@import "../../common/mediaqueries.scss";

.roomDetails {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  &__content {
    width: 100%;
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: clamp(20px, 7rem, 70px) clamp(30px, 14.4rem, 140px );
  }
  &__content-block {
    display: flex;
    justify-content: space-between;
  }
}


@include desctop {
  .roomDetails__content {
    flex-direction: column;
    align-items: center;
  }
  .roomDetails__offerForm {
    margin: 50px 0;
  }
}
@include mobileXS {
  .roomDetails__content-block {
    flex-direction: column;
    align-items: center;
  }
}
