include ../../dropdownInput/dropdownInput.pug
include ../../dropdownInput/dropdownInputListAmount.pug
include ../../buttons/buttons.pug

mixin guestsSelect(options)
  - const {title, listItems} = options || {};
   +dropdownInput({
      label: title,
       defaultValue: "3 гостя, 1 младенец", 
       inputClass: "sidebar-rooms__guests-input"
    })(class="sidebar-rooms__guests")(class!=attributes.class)
    +dropdownInputListAmount([
    {title: 'Взрослые', className: "adults-amount"},
    {title: 'Дети', className: "children-amount"},
    {title: 'Младенцы', className: "baby-amount"},
  ])(class="sidebar-rooms__guests-list")
      .dopdown__button-row
        +textButton('Отчистить')
        +textButton('Применить')
  script 
    include guestsSelect.js