//- mixin dropdown-item(title, amount)
//-   li.dropdown__list-item(class!= attributes.class)
//-           h2= title 
//-           .dropdown__list-counter 
//-             .outlinedIconButton.minus -
//-             h3.dropdown-list__value 0
//-             .outlinedIconButton.plus +

include ../../dropdownInput/dropdownInput.pug
include ../../dropdownInput/dropdownInputListAmount.pug

mixin guestsSelect(options)
  - const {listItems} = options || {};
   +dropdownInput({
      label: "гости",
       defaultValue: "3 гостя, 1 младенец", 
       inputClass: "sidebar-rooms__guests-input"
    })(class="sidebar-rooms__guests")
    +dropdownInputListAmount(listItems)(class="sidebar-rooms__guests-list")
  script 
    include guestsSelect.js
