@import "../../../common/mediaqueries.scss";

@include desctopXLMin {
  .header {
    padding: 15px 140px;
  }
}
@include desctop {
  .header__signUp-button {
    display: none;
  }
  .nav-list__icon-burger {
    display: block;
  }
  .nav-list {
    display: none;
  }
  a.header__signUp-button {
    display: none;
  }
}

@include mobile {
  .header {
    padding: 16px;
  }
  .header button {
    padding: 6px 16px;
    font-size: 11px;
  }
  .nav-list__icon-burger {
    margin-left: 16px;
  }
}
