doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Toxin
    link(rel="stylesheet", type="text/css", href="pages/main/main.css")
  body 

    include pages/main/main.pug
    script(src="index.js")

      