$color-primary: #8ba4f9;
$color-secondary: #66d2ea;
$color-white: #fff;
$color-purple: #bc9cff;
$color-black: #1f2041;
$color-black-75: #1f2041bf;
$color-black-50: #1f204180;
$color-black-25: #1f204140;
$color-black-5: #1f20410d;
$primary-gradient: linear-gradient(#bc9cff, #8ba4f9);
$opacity-gradient: linear-gradient(#bc9cff40, #8ba4f940);
$secondary-gradient: linear-gradient(#6fcf97, #66d2ea);
$drop-shadow: drop-shadow($color-black-5 0 0 20px);

$app-width: 1440px;
$app-h-padding: 140px;

$radius: 4px;

/* brakepoints */
$mobileXs: 576px;
$mobile: 768px;
$tablet: 992px;
$lg: 1200px;
$xlg: 1400px;
