@import '../../common/variables.scss';
@import '../../ui/inputs/inputs.scss';
@import '../../ui/buttons/buttons.scss';

.form {
  width: 380px;
  min-width: 320px;
  background-color: $color-white;
  padding: 40px 30px 30px 30px;
  border-radius: 4px;
}
.form__title {
  font-size: 24px;
  margin-bottom: 20px;
}
