include ../../../../ui/checkbox/checkbox.pug

mixin houseRules()
  .house-rules.contentWithLabel(class!= attributes.class)
    h3.house-rules.label Правила дома
    +checkbox({
      text: 'Можно курить', 
      name: 'smok', 
      isChecked: false
      })(class="house-rules__isSmoking")
    +checkbox({
      text: 'Можно с питомцами', 
      name: 'pet', 
      isChecked: true
    })(class="house-rules__isPet")
    +checkbox({
      text: 'Можно пригласить гостей (до 10 человек)', 
      name: 'guests',
      isChecked: true
    })(class="house-rules__isGuest")
