.input__wrapper {
  display: flex;
  align-items: center;
  border: 1px solid $color-black-25;
  padding: 12px 8px 12px 16px;
  border-radius: 4px;
  color: $color-black-50;
}
.input-button {
  width: 100%;
  border: none;
  outline: none;
  align-self: end;
}